@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
:root{
--background: linear-gradient(135deg,  #667eea7e 0%, #764ba298  100% );
--color-primary : #667eea;
--color-secondary : #764ba2;
--boton-padding : 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
.container{
 width:  90;
 margin: auto;
 overflow:hidden;
 padding: 80px 0;
 max-width: 1200px;
}

.subtitle{
 color: var(--color-primary);
font-size: 2.5rem;
margin-bottom: 35px;


}
.skills{
    align-items: center;
    display: grid;
    height: 350px;
    grid-template-areas:
    "img1 img2 img3 "
    "img4 img5 img6 ";
    gap: 22px;
   padding: 2px;
   justify-content: last baseline;
 
  
}
.hero{
height: 100vh;
background-image: var(--background),url(../assets/hero.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
position: relative;
}

.hero.container{
    padding : 0 ;
}

.nav{
display: flex;
justify-content: flex-end;
height:  0px;
align-items: center;
font-weight: 700;
}

.nav--footer{
font-weight:  300;
justify-content:  flex-start;

}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right:  20px;
    padding: 10px 15 px;
    font-weight: inherit;
}

.nav__items--cta{
border:  1px solid #fff;
}

.nav__items--footer{
    padding: 10px;
}

.hero__container{
   
display: flex;
height:  calc(100vh - 70px);
align-items: center;
color: #fff;
}

.hero__texts{
width:  80%;
margin-bottom:  50px;
}

.hero__title{
font-size:  3.2rem;
}

.hero__subtitle{
font-size:  2rem;
font-weight: 300;
margin: 15px 0;
}
.hero__cta{
display: inline-block;
background:#fff;
padding: var(--boton-padding);
color:var(--color-primary);
text-decoration: none;
border-radius: 40px;
}

.hero__wave{
    position: absolute;
    bottom:  0;
    left: 0;
    width: 100%;
    height: 100px;
}

/*ABOUT ME*/

.presentation{
    padding-top: 0;
    text-align: center;
}

.presentation__picture{
width:  150px;
height:  150px;
border-radius: 50%;
margin-bottom:  10px;
object-fit: cover;
object-position: top;
}

.presentation__copy{
width:  80%;
margin: 0 auto;
color: var(--color-primary);
font-size: 1rem;
margin-bottom: 35px;
}

.presentation__cta{
display:  inline-block;
margin-top: 30px;
background: var(--color-primary);
color:#fff;
text-decoration:none ;
padding: var(--boton-padding) ;
border-radius: 40px; 
}

.about{
 min-height: 200px;
 display: grid;
 grid-template-columns: 1fr 1fr;
 row-gap: 10px;
 justify-items: center;
 align-items: center;
}

.about__img{
    text-align:center;
    
}

.about__img--left{
    text-align:left;
}

.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom:  20px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
}

/*projets*/
.projects{
    background: black;
}

.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 20px;
}
 
.projects__item{
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
}

.projects__img{
width: 100%;
height: 100%;
object-fit: cover;
cursor: pointer;
}

.projects__item:nth-of-type(1)
{
    grid-area: img1;
}

.projects__item:nth-of-type(2)
{
    grid-area: img2;
}

.projects__item:nth-of-type(3)
{
    grid-area: img3;
}

.projects__item:nth-of-type(4)
{
    grid-area: img4;
}

.projects__item:nth-of-type(5)
{
    grid-area: img5;
}

.projects__hover{
    position: absolute;
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.projects__item:hover .projects__hover{
    transform: translateX(0%);
}
.projects__icon{
    margin-top:  10px;
    font-size: 30px;
}
/*footer*/
.footer{
    width: 100%;
			height: 50vh;
			color: #fff;
			background: linear-gradient(45deg,red,blue,green,black);
			background-size: 400% 400%;
			position: relative;
			animation: cambiar 10s ease-in-out infinite;
}

.footer__grid{
    display: grid;
     grid-template-columns:3fr 2fr;
     gap: 20px;
     align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
display: inline-block;
width:  60px;
height: 60px;
color: #fff;
text-align: center;
border: 1px solid #fff;
border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration:  none;
  }

  .fab.footer__icon{
    line-height: 60px;

  }
  

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

#contacto {
    padding: 30px 2px;
    background-color: #f3f3f3;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
}

#contacto .contenedor-form {
    max-width: 1000px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}